<div class="header-container shadow-lg d-flex justify-content-between align-items-center">
    <div class="logo mx-5 mt-1 my-3">
      <span class="brand-part1">your</span><span class="brand-part2">Self</span>
    </div>
      
    <div class="nav-links d-flex">
      <div class="nav-item" [routerLink]="'/home'" [routerLinkActive]="'active-nav'" [routerLinkActiveOptions]="{ exact: true }">HOME</div>
      <div class="nav-item" [routerLink]="'/category'" [routerLinkActive]="'active-nav'" [routerLinkActiveOptions]="{ exact: true }">CATEGORY</div>
      <div class="nav-item" [routerLink]="'/questions'" [routerLinkActive]="'active-nav'" [routerLinkActiveOptions]="{ exact: true }">QUESTIONS</div>
      <div class="nav-item" [routerLink]="'/contact'" [routerLinkActive]="'active-nav'" [routerLinkActiveOptions]="{ exact: true }">CONTACT</div>
      <div class="nav-item" [routerLink]="'/admin'" [routerLinkActive]="'active-nav'" [routerLinkActiveOptions]="{ exact: true }">Admin</div>
    </div>
  </div>
  